
        body{
            background-color: #CBF1F5;
        }
        hr{
            background-color: white;
            border-color: grey;
         
            height: 0px;
            width: 30%;
          
           
            border-style: none;
            border-top-style: dotted;
        }
  h1{
    /* background-color: black; */
    color: #66bfbf;
  }


  h3{
  /* background-color: black; */
  color: #66bfbf;
  
  }
  
  